name: Build all
on:
  workflow_dispatch:
    inputs:
      fatal_warnings:
        description: 'Build with --fatal-meson-warning (yes/no)'
        default: 'no'
        required: false
  schedule:
    # Run every Sunday at midnight
    - cron: '0 0 * * 0'

jobs:
  Ubuntu:
    runs-on: ubuntu-latest
    env:
      TEST_BUILD_ALL: 1
      TEST_FATAL_WARNINGS: ${{ github.event.inputs.fatal_warnings }}
    steps:
      - uses: actions/checkout@v2

      - name: Fetch tags and unshallow
        run: git fetch --unshallow --tags

      - name: Install packages
        run: |
          sudo apt-get update
          sudo apt-get -y install build-essential python3-pip ninja-build
          pip install git+https://github.com/mesonbuild/meson

      - name: Sanity Checks
        run: |
          ./tools/sanity_checks.py

  VisualStudio:
    runs-on: windows-latest
    env:
      TEST_BUILD_ALL: 1
      TEST_FATAL_WARNINGS: ${{ github.event.inputs.fatal_warnings }}
    steps:
      - uses: actions/checkout@v2

      - name: Fetch tags and unshallow
        run: git fetch --unshallow --tags

      - name: Avoid broken pip 22.0 release
        run: python -m pip install 'pip!=22.0.*'

      - name: Install packages
        run: |
          pip install git+https://github.com/mesonbuild/meson
          choco install -y pkgconfiglite

      - uses: ilammy/msvc-dev-cmd@v1
      - name: Sanity Checks
        run: |
          python tools/sanity_checks.py

  MacOS:
    runs-on: macos-latest
    env:
      TEST_BUILD_ALL: 1
      TEST_FATAL_WARNINGS: ${{ github.event.inputs.fatal_warnings }}
    steps:
      - uses: actions/checkout@v2

      - name: Fetch tags and unshallow
        run: git fetch --unshallow --tags

      - name: Install packages
        run: |
          brew update
          brew install ninja python
          python3 -m pip install git+https://github.com/mesonbuild/meson

      - name: Sanity Checks
        run: |
          ./tools/sanity_checks.py
