name: Sanity checks

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  Ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Fetch tags and unshallow
        run: git fetch --unshallow --tags

      - name: Install packages
        run: |
          sudo apt-get update
          sudo apt-get -y install build-essential python3-pip ninja-build
          python3 -m pip install --pre meson

      - name: Sanity Checks
        run: |
          ./tools/sanity_checks.py

  VisualStudio:
    runs-on: windows-latest
    matrix:
      cxx: ['cl', 'clang-cl']
    steps:
      - uses: actions/checkout@v3

      - name: Fetch tags and unshallow
        run: git fetch --unshallow --tags

      - name: Install packages
        run: |
          python -m pip install --pre meson

      - uses: ilammy/msvc-dev-cmd@v1
      - name: Sanity Checks
        env:
          CXX: ${{matrix.cxx}}
        run: |
          python tools/sanity_checks.py

  MacOS:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - name: Fetch tags and unshallow
        run: git fetch --unshallow --tags

      - run: brew update
      # github actions overwrites brew's python. Force it to reassert itself, by running in a separate step.
      - name: unbreak python in github actions
        run: |
          find /usr/local/bin -lname '*/Library/Frameworks/Python.framework/*' -delete
          sudo rm -rf /Library/Frameworks/Python.framework/
          brew install --force python3 && brew unlink python3 && brew unlink python3 && brew link --overwrite python3
      - name: Install packages
        run: |
          brew install ninja
          python3 -m pip install --pre meson

      - name: Sanity Checks
        run: |
          ./tools/sanity_checks.py
