name: Sanity checks

on: [push, pull_request]

jobs:
  Ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Fetch tags and unshallow
        run: git fetch --unshallow --tags

      - name: Install packages
        run: |
          sudo apt-get -y install build-essential python3-pip ninja-build nasm
          pip install --pre meson

      - name: Sanity Checks
        run: |
          ./tools/sanity_checks.py

  VisualStudio:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2

      - name: Fetch tags and unshallow
        run: git fetch --unshallow --tags

      - name: Install packages
        run: |
          pip install --pre meson

      - uses: ilammy/msvc-dev-cmd@v1
      - name: Sanity Checks
        run: |
          python tools/sanity_checks.py
